<!doctype html>
<html lang="en" ng-app="todoApp">
<head>
  <meta charset="utf-8">
  <title>Google Phone Gallery</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body ng-controller="todoController">

  <div class="container">
    <div class="row">
        <div class="main">
          <div class="input-block">
            <h1>header</h1>
            <form name="frm" ng-submit="addToDo()">
              <input type="text" ng-model="newtodo" id="new-todo" placeholder="what to do?" />
              <!-- <button ng-disabled="frm.$invalid">Go</button> -->
            </form>
            
          </div>
          <ul>
            <li ng-repeat="todo in todos">
              <input type="checkbox" ng-model="todo.done" /><span ng-class="{'done':todo.done}">{{todo.title}}</span>
            </li>
          </ul>
          <button ng-click="clearCompleted()">Clear completed</button>
        </div>
    </div>
  </div>

</body>
</html>
