/* app css stylesheet */

body {
  padding-top: 20px;
}

.main {
	margin: 0 auto;
	width:400px;
}

h1 {
	text-align: center;
	color: red;
}

.input-block input {
	width: 100%;
}

.done {
	text-decoration: line-through;
	color: #ccc;
}

ul {
	list-style:none;
}

/*.edit {
	display: none;
}

.editing span {
	border: 1px solid red;
}*/


.editing .view {
	display: none;
}

.editing .edit {
	display: block;
}

.edit {
	border: 1px solid red;
	display: none;
}